// colors
$mainColor: #2196f3;
$altColor: #1787e0;
$sectionBackground: #ececec;
// vlues
$mainTransition: 0.3s;
$mainPadding: 100px;
// mediaqurry
$phoneScreens: 540px;
$smallScreens: 768px;
$mediumScreens: 992px;
$bigScreens: 1200px;
