block variables
  include includes/variables
block mixin
  include includes/mixin
html(lang="en")
  head
    block meta
      include includes/meta
    block style
      include includes/styles
    block title
      title Jousef
  body 
    block content
    
    block scripts
      include includes/scripts
    
    